.super-mario {
    top: 100px;
    left: 100px;
    z-index: 1;
}

.goomba {
    top: 1000px;
    right: 40%;
    width: 800px;
    position:relative;
    z-index: 2;
}

.bowser {
    position: absolute;
    top: 1300px;
    left: 1200px;
    z-index: 3;
}

.baloon {
    position: relative;
    top: 140px;
    left: 920px;
    z-index: 4;

}

.word {
    position: absolute;
    margin-left: 52%;
    z-index: 5;
}